.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

.App-header {
  animation-name: background-color-change;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes background-color-change {
  0% {
    background: #BD00FF;
  }
  25% {
    background: #e600ff;
  }
  50% {
    background: #fb00ff;
  }
  75% {
    background: #ff00fb;
  }
  100% {
    background: #FF5F96;
  }
}
